/* Move Audio settings to right at top of chat window but below channel header bar */
section[class^=panels_][aria-label='User area'] {
  position: fixed;
  top: 0;
  right: 0;
  left: 102px;
}
section[class^=panels_][aria-label='User area'] > div[class^=container_] > div[class^=avatarWrapper_] {
  flex-grow: 1;
}
div[class^=chat_],
div[class^=content_] > div[class^=sidebar_] + div[class^=container_] {
  margin-top: 52px;
}
body[voice-state*=in-voice] div[class^=chat_],
body[voice-state*=in-voice] div[class^=content_] > div[class^=sidebar_] + div[class^=container_] {
  margin-top: 142px;
}

/* Hide dock of servers */
nav[class*=guilds_] {
  width: 12px;
  transition: width 0.2s;
}
nav[class*=guilds_]:hover {
  width: 72px;
  transition-delay: 0.5s;
}
div[class^=pill_] {
  opacity: 0.25 ! important;
}

/* Reduce channel sidebar */
/* NB: Repeat the selector to increase specificity to override Discord's css */
div[class^=sidebar_][class^=sidebar_][class^=sidebar_][class^=sidebar_] {
  width: min-content ! important;
}
div[class^=sidebar_] > nav[class^=container_],
div[class^=sidebar_] > nav[class^='privateChannels_'] {
  width: 90px;
  transition: width 0.2s;
}
nav[class*=guilds_]:hover + div[class*=base_] div[class^=sidebar_] > nav[class^=container_],
nav[class*=guilds_]:hover + div[class*=base_] div[class^=sidebar_] > nav[class^='privateChannels_'] {
  width: 30px;
  transition-delay: 0.5s;
}
[aria-label='Create Invite'] {
  display: none ! important;
}

/* Don't hide channel links */
div[class^=sidebar_] > nav[class^=container_] > div:first-child {
  position: sticky;
  top: 0;
  background-color: var(--background-secondary);
  z-index: 2;
}
div[class^=sidebar_] > nav[class^=container_] {
  display: block;
  overflow: hidden auto;
  /* scrollbar properties for firefox */
  scrollbar-color: var(--scrollbar-thin-thumb) var(--scrollbar-thin-track);
  scrollbar-width: thin;
}
/* scrollbar properties for chrome */
div[class^=sidebar_] > nav[class^=container_]::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
div[class^=sidebar_] > nav[class^=container_]::-webkit-scrollbar-corner {
  background-color: transparent;
}
div[class^=sidebar_] > nav[class^=container_]::-webkit-scrollbar-thumb {
  visibility: hidden;
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: var(--scrollbar-thin-thumb);
  min-height: 40px;
}
div[class^=sidebar_] > nav[class^=container_]::-webkit-scrollbar-track {
    visibility: hidden;
    border-color: var(--scrollbar-thin-track);
    background-color: var(--scrollbar-thin-track);
    border: 2px solid var(--scrollbar-thin-track);
}
div[class^=sidebar_] > nav[class^=container_]:hover::-webkit-scrollbar-thumb,
div[class^=sidebar_] > nav[class^=container_]:hover::-webkit-scrollbar-track {
  visibility: visible;
}

/* Reduce channel chat excess padding */
div#channels {
  overflow: initial ! important;
}
div#channels div[role=listtem] > div[class^=content_] {
  padding: 0;
}
div#channels div[class^=children_] > div[class^=iconItem_] {
  margin: 0;
}
div[class^=message_] {
  padding-right: 0 ! important;
  padding-left: 0.5rem ! important;
}
div[class^=contents_][role=document] {
  margin-left: 0;
  padding-left: 0;
  text-indent: 0;
}
div[class^=contents_][role=document] > img[class^=avatar_] {
  display: none;
}
span[class*=timestamp_] {
  float: right;
  width: min-content ! important;
  white-space: nowrap;
  margin-left: 2px;
  margin-right: 0 ! important;
}

/* Split channel header bar into 2 rows */
div[class^=chat_] > section[class^=title] {
  height: 72px;
  flex-direction: column;
  align-items: initial;
  padding: 0 0;
}
div[class^=chat_] > section[class^=title] > * {
  flex: 1;
  padding: 0 8px;
}
div[class^=chat_] > section[class^=title] > div[class^=toolbar_] {
  margin-left: auto;
}
div[class^=chat_] > section[class^=title] > div[class^=toolbar_] > div[class^=iconWrapper_] {
  margin-left: 2px;
  margin-right: 2px;
}

/* Channel chat spacing and buttons */
main[class^=chatContent_] > form[class^=form_] {
  padding: 4px;
}
div[class^=channelTextArea_] {
  margin-bottom: 4px;
}
button[class^=attachButton_] {
  padding-left: 2px;
  padding-right: 2px;
}
div[class^=channelTextArea_] div[class^=buttons_] {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
button[aria-label='Send a gift'] {
  display: none;
}
div[class^=channelTextArea_] div[class^=buttons_] > * {
  height: 50%;
  width: 80%;
}
div[class^=channelTextArea_] div[class^=buttons_] div[class^=buttonContainer_] {
  width: 100%;
}
div[class^=channelTextArea_] div[class^=buttons_] div[class^=contents_] {
  padding: 0;
  transform: scale(0.8);
}
div[class^=channelTextArea_] div[class^=buttons_] button {
  margin: 0;
}

/* Reduce channel list padding */
div[class*='iconVisibility_'] > div[class^=content_] {
  margin-left: 0px;
  padding-left: 0px;
}
/* Reduce voice channel group members padding */
div[class^=list_][role=group] {
  padding-left: 8px;
}
/* Shrink hash symbol */
a[data-list-item-id^='channels___'] > svg {
  width: 16px ! important;
  height: 16px ! important;
  margin-right: 2px;
}
/* Hide invite button and edit channel button */
div[class^=linkTop_] > div[class^=children_] {
  display: none;
}

/* Add channel tooltip */
a[data-list-item-id^='channels___']:hover::after {
  content: attr(aria-label);
  font-size: smaller;
  position: absolute;
  padding: 4px 2px;
  pointer-events: none;
  left: 0;
  bottom: 100%;

  color: #fff;
  background: #000;
  border: 1px solid transparent;
  border-radius: 3px;
  display: inline-block;
  /* font-size: 13px; */
  /* padding: 8px 21px; */
}

/* Hide help button */
a[href='https://support.discord.com'] {
  display: none;
}

/* Quick switcher size */
div[class^=modal_] > div[class^=inner_] > div[class^=container_] {
  max-width: 100vw;
}
div[class^=quickswitcher_] {
  max-width: 100vw;
}
/* Popup size */
div[class^=modal_][class*='fullscreenOnMobile'] {
  max-width: 100vw;
}
@media (max-width: 485px) {
  div[class*='fullscreenOnMobile'] {
    position: fixed;
  }
}

/* Puzzle voice chat button */
button#voice-chat-for-puzzle {
  position: fixed;
  height: 32px;
  width: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
  top: 0;
  right: 106px;
  z-index: 100;

  cursor: pointer;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: transparent;
  color: var(--interactive-normal);
}
button#voice-chat-for-puzzle:hover {
  background: var(--background-modifier-selected);
}
button#voice-chat-for-puzzle:hover::after {
  line-height: initial;
  content: attr(aria-label);
  position: absolute;
  pointer-events: none;
  margin-top: 6px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: smaller;

  color: #fff;
  background: #000;
  border: 1px solid transparent;
  border-radius: 3px;
  display: inline-block;
  font-size: 13px;
  padding: 8px 21px;
  white-space: nowrap;
}
body[voice-state*=in-voice] button#voice-chat-for-puzzle {
  top: 89px;
}
body[voice-state*=puzzle-not-given] button#voice-chat-for-puzzle,
body[voice-state*=in-puzzle-channel] button#voice-chat-for-puzzle {
  pointer-events: none;
  opacity: 0.2;
}
div[class^='nameTag_'] {
  margin-right: 36px;
}
