[[source]]
url = 'https://pypi.org/simple'
verify_ssl = true
name = 'pypi'

[packages]
aiogoogle = '*'
aiohttp = {extras = ['speedups'], version = '*'}
beautifulsoup4 = '*'
billiard = '*'
celery = '*'
channels = '*'
channels-redis = '*'
daphne = '*'
'discord.py' = '*'
django = '==5.2.9'
django-admin-hstore-widget = '*'
django-allauth = '*'
django-autoslug = '*'
django-cachalot = '*'
django-crum = '*'
django-extensions = '*'
django-permissions-policy = '*'
django-redis = '*'
djangorestframework = '*'
html5lib = '*'
psycopg2 = '*'
pyjwt = '*'
pynacl = '*'
pyttsx3 = '*'
pyyaml = '*'
redis = '*'
requests = '*'
twisted = {extras = ['http2', 'tls'], version = '*'}
unidecode = '*'
whitenoise = '*'

[dev-packages]

[requires]
python_version = '3.13'
