aiogoogle
aiohttp[speedups]
asgiref==3.2.10
beautifulsoup4
celery
channels
channels-redis
daphne
discord.py
django~=3.1.0
django-admin-hstore-widget
django-allauth
django-autoslug
django-cachalot
django-crum
django-extensions
django-permissions-policy
django-redis
djangorestframework
html5lib
psycopg2
pynacl
pyyaml
pyttsx3
redis
requests
twisted[tls,http2]
unidecode
wheel
whitenoise
