aiogoogle
aiohttp[speedups]
beautifulsoup4
celery
channels
channels-redis
daphne
discord.py
django
django-admin-hstore-widget
django-allauth
django-autoslug
django-cachalot
django-crum
django-extensions
django-feature-policy
django-redis
djangorestframework
html5lib
psycopg2
pyyaml
redis
requests
twisted[tls,http2]
unidecode
wheel
whitenoise
