channels
channels-redis
discord.py
django
django-admin-hstore-widget
django-allauth
django-autoslug
django-cachalot
django-crum
django-extensions
djangorestframework
psycopg2
pyyaml
unidecode
wheel
whitenoise
