.uncolored {
  color: inherit;
}

.vflex {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;
}

.hflex {
  display: flex;
  position: relative;
  flex-direction: row;
  flex: 1;
}

.flex {
  position: relative;
  flex: 1;
}

.nodisplay {
  display: none ! important;
}

.hidden {
  visibility: hidden;
}

.clickable {
  cursor: pointer;
}

.capitalize {
  text-transform: capitalize;
}

.colon:after {
  content: ': ';
  white-space: pre;
}

.comma:not(:last-of-type):after {
  content: ', ';
  white-space: pre;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.answerize {
  font-family: Courier, 'Courier New', monospace;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.larger {
  font-size: larger;
}

.smaller {
  font-size: smaller;
}

svg {
  height: 1em;
  width: 1em;
  vertical-align: middle;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

input, select, textarea, button {
  font: inherit;
}

input[type=checkbox] {
  vertical-align: middle;
}
input[type=checkbox]:not([disabled]):hover {
  cursor: pointer;
}
input[type=checkbox] + span:before {
  content: ' ';
  white-space: pre;
}

