.logo {
  display: flex;
  width: min-content;
  align-items: center;
  font-size: 20px;
  padding: 8px 8px 8px 0;
  cursor: pointer;
}
.icon {
  height: 32px;
  width: 32px;
}
.logo-text {
}

.tab {
  position: relative;
  display: flex;
  height: 32px;
  width: 180px;
}
.tab-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 4px;
  overflow: hidden;
  border: 1px solid black;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  background-color: silver;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}
.tab.active > .tab-content {
  background-color: plum;
}
.tab-content:hover {
  filter: brightness(90%);
  box-shadow: 0 0 3px black;
}
.tab-remove {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 2px;
  padding: 0 2px;
  border-radius: 4px;
  cursor: pointer;
}
.tab-remove:hover {
  background-color: rgba(255,0,0,127);
  box-shadow: 0 0 3px black;
}

.header {
  display: flex;
  align-items: flex-end;
  user-select: none;
}
