.logo {
  display: flex;
  width: min-content;
  align-items: center;
  font-size: 20px;
  padding: 8px 8px 8px 0;
  cursor: pointer;
}
.logo:hover {
  color: purple;
}
.icon {
  height: 32px;
  width: 32px;
  fill: currentColor;
}
.logo-text {
}

.tab {
  position: relative;
  height: 32px;
  width: 180px;
  border: 1px solid black;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  background-color: silver;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.tab-content {
  width: 100%;
  margin: auto 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tab.active {
  background-color: plum;
}
.tab:hover {
  filter: brightness(90%);
  box-shadow: 0 0 3px black;
}
.tab-remove {
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 4px;
  padding: 2px;
  border-radius: 50%;
  cursor: pointer;
  color: #444;
}
.tab-remove:hover {
  background-color: rgba(0,0,0,0.15);
}

.header {
  display: flex;
  align-items: flex-end;
  user-select: none;
}
