body {
  margin: 0;
  line-height: 1;
  --td-field-padding: 3px 5px;
}

.root {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: Verdana, sans-serif;
}

.vflex {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;
}

.hflex {
  display: flex;
  position: relative;
  flex-direction: row;
  flex: 1;
}

.flex {
  position: relative;
  flex: 1;
}

.pane {
  position: relative;
  flex: 1;
}

iframe {
  border: none;
}
.resizing iframe {
  pointer-events: none;
}

.nodisplay {
  display: none ! important;
}

.hidden {
  visibility: hidden;
}

.clickable {
  cursor: pointer;
}

.capitalize {
  text-transform: capitalize;
}

.colon:after {
  content: ': ';
  white-space: pre;
}

.comma:not(:last-of-type):after {
  content: ', ';
  white-space: pre;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.answerize {
  font-family: Courier, 'Courier New', monospace;
  font-weight: bold;
}

.larger {
  font-size: larger;
}

.smaller {
  font-size: smaller;
}


svg {
  height: 1em;
  width: 1em;
  vertical-align: bottom;
}

a {
  /* even when no href */
  cursor: pointer;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

input, select, textarea, button {
  font: inherit;
}

input[type=checkbox] {
  vertical-align: middle;
}
input[type=checkbox]:not([disabled]):hover {
  cursor: pointer;
}
input[type=checkbox] + span:before {
  content: ' ';
  white-space: pre;
}

.infopane {
  padding-left: 1em;
  padding-right: 1em;
  overflow: auto;
}

.plus-add {
  color: green;
  cursor: pointer;
}

.sidebar {
  display: flex;
  flex-direction: column;
  font-size: larger;
  padding: 2px;
  background-color: floralwhite;
  width: 1em;
  align-items: center;
}
.sidebar.left {
  border-right: 2px solid silver;
}
.sidebar.right {
  border-left: 2px solid silver;
}
.sidebar > *:not(:first-child) {
  margin-top: 0.5ch;
}
.sidebar > * {
  margin-bottom: 0.5ch;
}

.text-up {
  writing-mode: vertical-rl;
  white-space: nowrap;
  transform: scale(-1);
}
.text-down {
  writing-mode: vertical-rl;
  white-space: nowrap;
}

.sidebar-icon:not(.disabled) {
  cursor: pointer;
}
.sidebar-icon:not(.disabled):hover {
  color: purple;
  filter: drop-shadow(0 0 1px);
}
.sidebar-icon.disabled {
  opacity: 0.25;
}

[data-tip],
[data-tip-popup] {
  position: relative;
}
[data-tip]:after,
[data-tip-popup]:after {
  content: attr(aria-label);
  white-space: pre;
  position: absolute;
  pointer-events: none;
  padding: 3px;
  background-color: black;
  color: lightgray;
  border: 1px solid gray;
  z-index: 100;
  opacity: 0;
  transition-property: opacity;
}
[data-tip]:hover:after,
[data-tip-popup-active]:after {
  opacity: 0.75;
}
[data-place=below]:after {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.metatag:after {
  content: 'meta: ';
  font-variant: small-caps;
  white-space: pre;
}
