body {
  margin: 0;
  line-height: 1;
  --td-field-padding: 3px 5px;
}

.root {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: Verdana, sans-serif;
}

.vflex {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;
}

.hflex {
  display: flex;
  position: relative;
  flex-direction: row;
  flex: 1;
}

.flex {
  position: relative;
  flex: 1;
}

.pane {
  position: relative;
  flex: 1;
}

.resizing iframe {
  pointer-events: none;
}

.nodisplay {
  display: none ! important;
}

.hidden {
  visibility: hidden;
}

.clickable {
  cursor: pointer;
}

.capitalize {
  text-transform: capitalize;
}

.colon:after {
  content: ': ';
  white-space: pre;
}

.comma:not(:last-of-type):after {
  content: ', ';
  white-space: pre;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.answerize {
  font-family: Courier, 'Courier New', monospace;
  font-weight: bold;
}

.larger {
  font-size: larger;
}

.smaller {
  font-size: smaller;
}


svg {
  height: 1em;
  width: 1em;
  vertical-align: bottom;
}

a {
  /* even when no href */
  cursor: pointer;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

input, select, textarea, button {
  font: inherit;
}

.infopane {
  padding-left: 1em;
  padding-right: 1em;
  overflow: auto;
}

.plus-add {
  color: green;
  cursor: pointer;
}

.form-item > span:first-child {
}

.ReactModal__Overlay {
  z-index: 100;
}
