.master {
  padding: 2em;
  --master-row-height: 28px;
}

.sub-master.table {
  table-layout: fixed;
  border-collapse: separate;
  margin: 0 auto;
  width: min-content;
}

.sub-master.tr {
  height: var(--master-row-height);
}

.sub-master.sizer {
  height: 0px ! important;
  padding-block: 0 ! important;
  border: none ! important;
  box-sizing: content-box;
}

.sub-master.sizer.name { width: 30ch; }
.sub-master.sizer.answer { width: 25ch; }
.sub-master.sizer.status { width: 13ch; }
.sub-master.sizer.notes { width: 30ch; }
.sub-master.sizer.open-for { width: 13ch; }
.sub-master.sizer.viewers { width: 13ch; }
.sub-master.sizer.tag { width: 13ch; }
.sub-master.sizer.tag-extra { width: 1em; }

.sub-master.th > div,
.sub-master.td:not(.td-field) > div {
  position: relative;
  display: flex;
}
.sub-master.th > div {
  align-items: flex-end;
}
.sub-master.td > div.value {
  display: inline;
}
.sub-master.td.answer > div.value {
  display: inline-block;
  transform-origin: left;
}
.sub-master.tag-name {
  min-width: 0;
  flex: 1;
}
.round-add-tag {
  color: green;
  cursor: pointer;
}
.sub-master.round-remove-tag {
  align-self: center;
  cursor: pointer;
  font-size: larger;
}
.sub-master.round-remove-tag:hover {
  stroke-width: 4;
}

.sub-master.th,
.sub-master.td {
  font-size: smaller;
}
.sub-master.th,
.sub-master.td {
  padding: var(--td-field-padding);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sub-master.tag-name,
.sub-master.td-field > .value > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sub-master.th {
  border-top: 2px solid gray;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  color: white;
  background-color: dimgray;
  position: sticky;
  top: 0;
  z-index: 1;
}
.th.round-add-tag-container,
.th.empty {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}
.sub-master.th:first-child {
  border-left: 2px solid gray;
}
.sub-master.td {
  border-bottom: 2px solid lightgray;
  border-right: 2px solid lightgray;
  vertical-align: middle;
  background-color: white;
}
.sub-master.td:first-child {
  border-left: 2px solid lightgray;
}
.sub-master.pseudoround .td {
  background-color: beige;
}

.sub-master.name {
  position: sticky;
  left: 0px;
  z-index: 1;
  font-size: inherit;
}
.sub-master.th.name {
  z-index: 2;
}
.sub-master.round > .name {
  font-size: larger;
  font-weight: bold;
}
.sub-master.round > .th {
  font-variant: small-caps;
}
.sub-master.meta > .name {
  font-weight: bold;
}
.sub-master.metatag:after {
  content: 'meta: ';
  font-variant: small-caps;
  white-space: pre;
}

.sub-master.editable:not(.editing):hover {
  /* z-index / borders behave weirdly so disable drop-shadow and use box-shadow only */
  filter: none;
}

.sub-master.td-field.textarea:not(.multiline) > .value > .br {
  display: inline;
}
.sub-master.td-field.textarea:not(.multiline) > .value > .br:after {
  content: ' ';
  background-color: lightskyblue;
}

.sub-master.td.answer {
  font-size: inherit;
}

.sub-master.td.viewers > div {
  display: flex;
  flex-wrap: wrap;
}
.sub-master.td.viewers:hover {
  overflow: initial;
}
