.masterinfo h2 {
  margin-bottom: 5px;
  display: flex;
}

.Collapsible__trigger {
  cursor: pointer;
}
.Collapsible__trigger.is-open .closed-icon,
.Collapsible__trigger.is-closed .open-icon {
  display: none;
}

.Collapsible__contentInner {
  font-size: smaller;
  padding: 5px;
  padding-left: 4ch;
  background-color: floralwhite;
}

.masterinfo .td {
  padding-block: 2px;
}
.masterinfo .td:first-child {
  text-align: right;
}
.masterinfo select  {
  vertical-align: top;
}

.master-settings {
  font-size: smaller;
}

.puzzle-cache-input {
  width: 5ch;
}
