.master {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.master .table {
  border-collapse: separate;
  margin: 0 auto;
  border: 1px solid lightgray;
}

.master .th,
.master .td {
  padding: var(--td-field-padding);
  border: 1px solid lightgray;
  font-size: smaller;
}
.master .th {
  border: 1px solid gray;
  color: white;
  background-color: dimgray;
  position: sticky;
  top: -1px;
  z-index: 1;
}
.master .td {
  vertical-align: middle;
  background-color: white;
}
.master .pseudoround .td {
  background-color: beige;
}


.master .name {
  position: sticky;
  left: -1px;
  z-index: 1;
  font-size: inherit;
}
.master .th.name {
  z-index: 2;
}
.master .round .name {
  font-size: larger;
  font-weight: bold;
}
.master .round .th {
  font-variant: small-caps;
}
.master .meta .name {
  font-weight: bold;
}
.master .metatag:after {
  content: 'meta: ';
  font-variant: small-caps;
  white-space: pre;
}

.master .editable:not(.editing):hover {
  /* z-index / borders behave weirdly so disable drop-shadow and use box-shadow only */
  filter: none;
}

.master .td-field.textarea:not(.multiline) br {
  content: '';
}
.master .td-field.textarea:not(.multiline) br:after {
  content: ' ';
  background-color: lightskyblue;
}

.master .td-field.answer {
  min-width: 20ex;
  font-size: inherit;
}
.master .td-field.notes {
  max-width: 40ex;
}
