.puzzleinfo.pane {
  padding-right: 1em;
  padding-left: 1em;
}

.puzzleinfo h2 {
  margin: 0;
}

[class^=feeds-] {
  font-size: smaller;
}

.puzzleinfo .table {
  margin: 1em 0;
}
.puzzleinfo .td {
  vertical-align: middle;
}

.puzzleinfo-key {
  position: relative;
  border: none;
}
.puzzleinfo-key:not(:focus) {
  text-align: right;
  font-size: smaller;
  text-transform: capitalize;
}
.puzzleinfo-key:after {
  content: ': ';
  white-space: pre;
}
.puzzleinfo-value {
  position: relative;
  width: 200px;
  border: 1px dotted gray;
}

.puzzleinfo-key .puzzleinfo-input {
  position: absolute;
  top: 0;
  left: 0;
}
.puzzleinfo-value .puzzleinfo-input {
  position: relative;
}

.puzzleinfo-input {
  border: none;
  height: 100%;
  width: 100%;
  padding: 5px;
}
.puzzleinfo-input:not(:focus):not(:disabled):hover {
  background-color: lightcyan;
  filter: drop-shadow(0 0 3px gray);
}
.puzzleinfo-key.key-can-be-input:not(.key-is-input):hover {
  background-color: lightcyan;
  filter: drop-shadow(0 0 3px gray);
  cursor: text;
}

.puzzleinfo-remove-ghost {
  margin-right: 5px;
}
.puzzleinfo-remove {
  cursor: pointer;
  position: absolute;
  margin-top: calc(5px + 0.5em);
  transform: translate(0, -50%);
}
.puzzleinfo-remove:hover {
  filter: drop-shadow(0 0 3px red);
}
.puzzleinfo-remove:hover ~ .puzzleinfo-key,
.puzzleinfo-remove:hover ~ .puzzleinfo-key *,
.puzzleinfo-remove:hover ~ .puzzleinfo-value,
.puzzleinfo-remove:hover ~ .puzzleinfo-value * {
  text-decoration: line-through;
}
.puzzleinfo-reset {
  position: absolute;
  margin: 5px;
  padding: 2px;
  right: 0;
  bottom: 0.5em;
  transform: translate(0, 50%);
  z-index: 1;
  cursor: pointer;
}
.puzzleinfo-reset {
  filter: drop-shadow(0 0 3px red);
}
.puzzleinfo-reset:hover + * {
  text-decoration: line-through;
}

.puzzleinfo .loader-container {
  border: none;
  padding-left: 5px;
}
.puzzleinfo .loader.loading {
  border: 0.25em solid lightgray;
  border-top: 0.25em solid dodgerblue;
  border-radius: 50%;
  width: 0.75em;
  height: 0.75em;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.puzzleinfo-add {
  color: green;
  cursor: pointer;
}
