.puzzleinfo h2 {
  margin-top: 0;
  margin-bottom: 5px;
  display: flex;
}

.feeds {
  font-size: smaller;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
}
.feeds > * {
  margin: 2px 0;
}

.puzzleinfo .table.puzzleinfo-tags {
  margin: 1em 0;
}
.puzzleinfo .td {
  vertical-align: middle;
}

.puzzleinfo .feeds > input {
  border: 1px dotted gray;
}
.puzzleinfo .feeds > input:not(:focus):not(:disabled):hover {
  background-color: lightcyan;
  filter: drop-shadow(0 0 3px gray);
}

.puzzleinfo-external-link {
  height: 0.75em;
  width: 0.75em;
  align-self: start;
}
.puzzleinfo-edit {
  height: 1em;
  width: 1em;
  margin-left: 5px;
  color: darkblue;
  cursor: pointer;
}
.puzzleinfo-done {
  height: 1em;
  width: 1em;
  margin-left: 5px;
  color: green;
  cursor: pointer;
}
.puzzleinfo .drop-container {
  display: flex;
  justify-content: start;
}
.feeds .puzzleinfo-remove-entity-container {
  margin: 0 2px;
}
.puzzleinfo-remove-entity-container {
  border: 1px solid gray;
  border-radius: 0.33em;
  background-color: lightgray;
  padding: 0 2px;
  display: inline-flex;
  align-items: center;
}
.puzzleinfo-remove-entity {
  height: 1em;
  width: 1em;
  cursor: pointer;
  color: red;
  stroke-width: 4;
}
.puzzleinfo-remove-entity:hover ~ * {
  text-decoration: line-through;
}

.puzzleinfo .tag-key:not(:focus) {
  text-align: right;
  font-size: smaller;
}
.puzzleinfo .tag-value {
  width: 200px;
  border: 1px dotted gray;
}

.puzzleinfo .feeders {
  display: flex;
  flex-direction: column;
}
.puzzleinfo .feeders-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}
.puzzleinfo .feeders-list .td {
  border: 1px solid lightgray;
  padding: 2px 6px;
}
.puzzleinfo .feeders-answer {
  min-width: 6em;
}
.puzzleinfo .feeders-edit-list {
  display: flex;
  flex-direction: column;
}
.puzzleinfo .feeders-edit-list > :not(input) {
  cursor: move;
}
.puzzleinfo .feeders-edit-list > :not(:first-child) {
  margin-top: 2px;
}
.puzzleinfo .feeders-edit-list > :not(:last-child) {
  margin-bottom: 2px;
}

.puzzleinfo-remove-tag-ghost {
  position: relative;
  height: 16px;
  width: 16px;
}
/* need ghost because margins affect spacing */
.puzzleinfo-remove-tag {
  cursor: pointer;
  position: absolute;
  margin-top: calc(3px + 0.5em); /* --td-field-padding */
  transform: translate(0, -50%);
  height: 16px;
  width: 16px;
}
.puzzleinfo-remove-tag:hover {
  filter: drop-shadow(0 0 3px red);
}
.puzzleinfo-remove-tag:hover ~ * {
  text-decoration: line-through;
}
