.td-field .input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;

  border: none;
  padding: var(--td-field-padding);
}
.editable:not(.editing):hover {
  background-color: lightcyan;
  filter: drop-shadow(0 0 3px gray);
  cursor: text;
}

.td-field .value {
  padding: var(--td-field-padding);
  min-height: 1em;
}
.td-field textarea {
  resize: none;
}
.td-field.textarea.multiline .value {
  min-height: 2em;
}
.td-field.textarea:not(.multiline) .value {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.td-field .reset {
  position: absolute;
  margin: var(--td-field-padding);
  right: 0;
  z-index: 1;
  padding: 2px;
  height: 12px;
  width: 12px;
  bottom: 0.5rem;
  transform: translate(0, 50%);
  cursor: pointer;
}
.reset:hover {
  filter: drop-shadow(0 0 3px red);
}
.reset:hover ~ * {
  text-decoration: line-through;
}

.td-field .loader-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.td-field .loader {
  margin: var(--td-field-padding);
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  box-sizing: border-box;
}
.td-field .loader.loading {
  border: 0.25rem solid lightgray;
  border-top: 0.25rem solid dodgerblue;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
