{% load static %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  </head>
  <body>
    <div id="__CONTENT__"></div>
    <script type="text/javascript" src="{% static '_app.js' %}"></script>
    <script type="text/javascript" src="{% static page|add:'.js' %}"></script>
    {{ props | json_script:"__DATA__" }}
    <script type="module">
      const props = JSON.parse(document.getElementById("__DATA__").textContent);
      const mountElement = document.getElementById("__CONTENT__");
      _appModule.default({{ page }}Module.default, props, mountElement);
    </script>
  </body>
</html>
